<ion-view view-title="Create a High 5">
  <ion-content>
    <div class="list">
      <a class="item item-avatar" ng-click="create()">
        <img src="img/john.jpg">
          <h2>John Smith</h2>
        <p>Project Manager</p>
      </a>
      <a class="item item-avatar" href="#/app/creating">
        <img src="img/anna.jpg">
          <h2>Anna Banana</h2>
        <p>Lead scientist</p>
      </a>
      <a class="item item-avatar" href="#/app/creating">
        <img src="img/john.jpg">
        <h2>John Smith</h2>
      <p>Project Manager</p>
      </a>
      <a class="item item-avatar" href="#/app/creating">
        <img src="img/anna.jpg">
        <h2>Anna Banana</h2>
      <p>Lead scientist</p>
      </a>
      <a class="item item-avatar" href="#/app/creating">
        <img src="img/john.jpg">
        <h2>John Smith</h2>
      <p>Project Manager</p>
      </a>
      <a class="item item-avatar" href="#/app/creating">
        <img src="img/john.jpg">
        <h2>John Smith</h2>
      <p>Project Manager</p>
      </a>
      <a class="item item-avatar" href="#/app/creating">
        <img src="img/anna.jpg">
        <h2>Anna Banana</h2>
      <p>Lead scientist</p>
      </a>
      <a class="item item-avatar" href="#/app/creating">
        <img src="img/anna.jpg">
        <h2>Anna Banana</h2>
      <p>Lead scientist</p>
      </a>
      <a class="item item-avatar" href="#/app/creating">
        <img src="img/john.jpg">
        <h2>John Smith</h2>
      <p>Project Manager</p>
      </a>
      <a class="item item-avatar" href="#/app/creating">
        <img src="img/john.jpg">
        <h2>John Smith</h2>
      <p>Project Manager</p>
      </a>
      <a class="item item-avatar" href="#/app/creating">
        <img src="img/anna.jpg">
        <h2>Anna Banana</h2>
      <p>Lead scientist</p>
      </a>
    </div>
  </ion-content>
</ion-view>
