<ion-view view-title="View Hi5s">
  <ion-content>
    <ion-slide-box show-pager="false" ion-slide-tabs>
        <ion-slide ion-slide-tab-label="Overall">
          <ion-list>
            <div class="card">
              <div class="item item-text-wrap">
                <h3 style="text-align: center !important;">Top High 5s this month</h3>
                <div class="row">
                  <div class="col"></div>
                  <div class="col"><img src="img/john.jpg" style="border-radius: 100px;" width="50" /></div>
                  <div class="col"><img src="img/john.jpg" style="border-radius: 100px;" width="50" /></div>
                  <div class="col"><img src="img/john.jpg" style="border-radius: 100px;" width="50" /></div>
                  <div class="col"><img src="img/john.jpg" style="border-radius: 100px;" width="50" /></div>
                  <div class="col"></div>
                </div>
              </div>
            </div>
            <a class="item item-avatar" href="#">
              <img src="img/john.jpg">
              <h2>John Smith - Project Manager</h2>
              <p>"John hit a home-run with his recent<br /> presentation to Richard Branson!"<br />
                 By: John Jacobs</p>
               <div class="row">
                 <div class="col">
                   <i class="icon ion-android-hand placeholder-icon hi5"><b> 34</b></i>
                 </div>
                 <div class="col">
                   <button disabled class="button button-small button-clear">
                     Give a High 5
                   </button>
                 </div>
               </div>
            </a>
            <a class="item item-avatar" href="#">
              <img src="img/anna.jpg">
              <h2>Anna Schmidt - Project Manager</h2>
              <p>"Anna hit a home-run with her recent<br /> presentation to Richard Branson!"<br />
                By: John Jacobs</p>
                <div class="row">
                  <div class="col">
                    <i class="icon ion-android-hand placeholder-icon hi5"><b> 34</b></i>
                  </div>
                  <div class="col">
                    <button class="button button-small button-clear">
                      Give a High 5
                    </button>
                  </div>
                </div>
            </a>
          </ion-list>
        </ion-slide>
        <ion-slide ion-slide-tab-label="Feb"></ion-slide>
        <ion-slide ion-slide-tab-label="March"></ion-slide>
        <ion-slide ion-slide-tab-label="April"></ion-slide>
    </ion-slide-box>
  </ion-content>
  <div class="bar bar-footer">
    <div class="title">
      <a href="#/app/create" style="text-decoration: none !important;"><button class="button button-block button-clear">
        Create a new High 5
      </button></a>
    </div>
  </div>
</ion-view>
